<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="author" content="Fredrik Danielsson, http://lostkeys.se">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex" />
  {% if meta.description %}
    <meta name="description" content="{{ meta.description|striptags }}">
  {% endif %}
  <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
  <link rel="stylesheet" href="{{ theme_url }}/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="{{ theme_url }}/styles/highlightjs-github.css" type="text/css" />
  {% for css_file in config.external_css %}
    <link rel="stylesheet" href="{{ css_file }}" type="text/css" />
  {% endfor %}
</head>
<body>

<aside class="main-nav">
<nav>
  <ul>
    {% for page in pages if page.title %}
      <li class="menuitem {% if page.id == current_page.id %}active{% endif %}">
        <a href="{{ page.url }}" data-shortcut="{{page.meta.shortcut}}">
          {{ page.title }}
          {% if page.meta.shortcut %}
            <span class="shortcut">{{page.meta.shortcut|replace({'+':' '})}}</a>
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
</aside>
<main class="main-content">
  <article class="article">
    {{ content }}
  </article>
</main>
<nav class="page-toc">
  <ul id="page-toc-container">

  </ul>
</nav>

<script src="{{ theme_url }}/scripts/highlight.js"></script>
<script src="{{ theme_url }}/scripts/mousetrap.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();

  document.querySelectorAll('.menuitem a').forEach(function(el) {
    if (el.getAttribute('data-shortcut').length > 0) {
      Mousetrap.bind(el.getAttribute('data-shortcut'), function() {
        location.assign(el.getAttribute('href'));
      });
    }
  });

  /**
   * Generate page table of contents
   *
   * Get all H2 elements and render them in a list
  **/
  function generatePageTOC() {
    var tocContainer = document.getElementById('page-toc-container');

    document.querySelectorAll('.article h2').forEach(function(el, index) {
      // Insert a marker since anchor links breaks with css position sticky
      // sticky headers upwards are stacked at the top of the viewport
      // and therefore cannot be jumped to since they are already visible
      // Instead inject a hidden element to use as a scroll marker
      el.insertAdjacentHTML('beforebegin', '<i id="page-toc-'+index+'" class="page-toc-scroll-marker">TOC marker</i>');

      var newTocNavItem = document.createElement('li');
      var newTocNavItemLink = document.createElement('a');
      var newTocNavItemText = document.createTextNode(el.textContent);

      newTocNavItemLink.setAttribute('href', '#page-toc-' + index);
      newTocNavItemLink.appendChild(newTocNavItemText);
      newTocNavItem.appendChild(newTocNavItemLink);
      tocContainer.appendChild(newTocNavItem);
    });
  }
  generatePageTOC();

</script>

</body>
</html>
